*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#gameBoard {
  margin-top: 20px;
  width: 345px;
  height: 345px;
  margin-right: auto;
  margin-left: auto;
}
#message {
  font-size: 36px;
  color: white;
  text-align: center;
  width: 345;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}
.tile {
  font-size: 64px;
  width: 80px;
  height: 80px;
  background-color: gray;
  color: white;
  text-align: center;
}
.square {
  background-color: #000;
  border: solid;
  width: 80px;
  height: 80px;
  float: left;
}
.dragged {
  background-color: #f00;
}
